@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdebd3;
}

#full-calc {
    width: 720px;
    height: 1000px;
    background-color: #264e70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 3px #000;
}

#screen {
    width: 600px;
    height: 250px;
    background-color: #bbd4ce;
    margin: 0;
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    border: solid 2px #000;
}

#onScreenText {
    font-weight: 400;
    font-size: 4rem;
    color: #000;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

#big-btns {
    width: 640px;
    height: 150px;
    margin: 0;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

#keyboard {
    width: 640px;
    height: 800px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

#left-side {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#right-side {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#big-btns button {
    width: 240px;
    background: #f9b4ab;
    color: #fff
}

#keyboard button {
    width: 130px;
    height: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}

#right-side button {
    background: #f9b4ab;
    color: #fff;    
}

#left-side button {
    background: #bbd4ce;
    color: #000;
}

button {    
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 15px;
}

button:hover {
    background: white !important;
    color: black !important;
}

button:active {
    border-color: #fff;
    box-shadow: 0px 0px 20px 5px #fff;
}

